<template>

    <div class="row build-container">
        <div class="col-sm-4 col-sm-offset-8 text-right">
            <p>
                Price: {{ currentPrice }} &euro;
            </p>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="pizza_1_count" class="col-sm-7 control-label">How much?</label>
                    <div class="col-sm-5">
                        <select v-model="selected" @change="changeCount" id="pizza_1_count" class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
            </div>
            <button class="btn btn-success">Add to cart</button>
        </div>
        <div class="col-md-7">
            <div class="checkbox">
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            <li v-for="ingredient in ingrs">
                                <label>
                                    <input :value="ingredient.id" v-on:click="changePrice" v-model="checkedIngredients" type="checkbox" >
                                        {{ingredient.name}} {{ingredient.id}} ({{ingredient.price * 0.01}} &euro;)
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 text-right">
            <img :src="image" alt="pizza">
        </div>
    </div>

</template>

<script>

    export default {
        props: ['price','ingredients','image', 'pizza','checked'],
        data: function() {
            return {
                  currentPrice: Number(this.price).toFixed(2),
                  selected: 1,
                  checkedIngredients: this.checked ? JSON.parse(this.checked) : [],
                  ingrs: this.ingredients ? JSON.parse(this.ingredients) : this.ingredients,
                  currentPizza: this.pizza ? JSON.parse(this.pizza) : this.pizza
              };
        },
        methods: {
            changePrice: function () {
                var self = this,
                    price = 0;

                self.checkedIngredients.map(function (value,index) {
                    price += Number(self.ingrs[value-1].price);
                });

                price = (price + (price / 2)) * 0.01;
                this.currentPrice = Number(price).toFixed(2)
            },
            changeCount: function () {
                var price = this.selected * this.currentPrice;
                this.currentPrice = Number(price).toFixed(2);
            }
        },
        mounted() {

        }
    }
</script>
