<template>
    <div class="col-md-4 pizza-item">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-center"><slot></slot></h3>
                <img class="pizza-item__image" :src="image" alt="pizza">
                <p class="pizza-item__ingredients">{{ingredients}}</p>
                <p class="text-center">
                    <a :href="link" class="btn btn-info">Change ingredients</a>
                </p>
                <div class="pizza-item__count form-horizontal">
                    <div class="form-group">
                        <label for="pizza_1_count" class="col-sm-7 control-label">How much?</label>
                        <div class="col-sm-5">
                            <select v-model="selected" @change="changePrice" id="pizza_1_count" class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="row">
                        <div class="col-sm-6 pizza-item__price">
                            <strong>{{ currentPrice }} &euro;</strong>
                        </div>
                        <div class="col-sm-6 text-right">
                            <button class="btn btn-success">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['image','price','ingredients','link'],
        data: function() {
          return {
              currentPrice: Number(this.price).toFixed(2),
              selected: 1
          }
        },
        methods: {
            changePrice: function () {
                var price = this.selected * this.price;
                this.currentPrice = Number(price).toFixed(2);
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
