
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding: 20px 0;
}

.pizza-item {
  padding:10px;
  &:hover {
    background-color: #f5f8fa;
  }
  .pizza-item__image {
    display: block;
    margin:auto;
    width:100%;
    max-width: $pizza-image-width;
  }

  .pizza-item__ingredients {
    span {
      &:not(:last-child) {
        &:after {
          content: ',';
        }
      }
    }
  }

  .pizza-item__count {
    select {
      padding:0 0 0 10px;
    }
    label {
      text-align: left;
    }
  }

  .pizza-item__price {
    line-height:36px;
    strong {
      padding-left:10px;
    }
  }

}

.build-container {
  li {
    list-style-type: none;
  }
}